<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register Page</title>
    </head>

    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <table>
               {{ form.as_table }} 
               {{ form.as_p}}
               {{ form.as_ul}}
            </table> -->

            <table>
                <tr>
                    <th>
                        <lable for="{{ form.username.id_for_lable }}">Username:</lable>
                    </th>
                    <td>
                        {{ form.username}}
                    </td>
                </tr>

                <tr>
                    <th>
                        <lable for="{{ form.password.id_for_lable }}">Password:</lable>
                    </th>
                    <td>
                        {{ form.password }}
                    </td>
                </tr>

                <tr>
                    <th>
                        <lable for="{{ form.email.id_for_lable }}">Email:</lable>
                    </th>
                    <td>
                        {{ form.email }}
                    </td>
                </tr>
            </table>
            
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>